@page "/"
@using Marcware.BulkyConvert.Converters;
@inject IUnitConversionService ConversionService

@foreach (var converter in ConversionService.GetAllUnitConverters().Where(c => SeeAllConversions || c.IsFrequentlyUsedConverter).OrderBy(c => c.UnitDomain).ThenBy(c => c.Name))
{
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="@($"convert/{converter.Name}")">
            <span class="oi oi-list-rich" aria-hidden="true"></span> @converter.InputUnit.PluralName to @converter.OutputUnit.PluralName
        </NavLink>
    </li>
}
<button @onclick="SelectAllButtonClick">All</button>

@code {
    public bool SeeAllConversions { get; set; }

    public void SelectAllButtonClick(MouseEventArgs e)
    {
        SeeAllConversions = !SeeAllConversions;
    }
}


