@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid p-0">
                <div class="row no-gutters header-row">     
                    <a href="\">
                        <img src="home.png" />
                    </a>
                    <a href="\">
                        <h4>Bulky Convert</h4>
                    </a>                    
                </div>
            </div>
        </nav>

        <div class="content">
            @Body
        </div>
    </div>
</div>
