html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: darkorange;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.nav-bar {
    height: 8vh;
}

.content {
    height: 80vh;
}

.convert-area-container {
    height: 100%;
}

.convert-area-container .input-row, .convert-area-container .output-row {
    height: 20%;
}

.convert-area-container .input-row input, .convert-area-container .output-row input {
    height: 99%;
    width: 100%;
    font-size: 5vh;       
}

.convert-area-container .input-row input {
    padding-left: 5px;
    background-color: antiquewhite;
}

.convert-area-container .output-row input {
    padding-left: 5px;
    background-color: gray;
}

.convert-area-container .convert-button-row {
    height: 20%;
}

.convert-area-container .convert-button-row button, .convert-area-container .input-row button, .convert-area-container .output-row button {
    height: 99%;
    width: 99%;
    font-size: 8vh;
    background-color: yellow;
}

.conversion-list-domain-row {
    background-color: orange;
}

.conversion-list-convert-row {
    font-size: 5vw;
    line-height: 0.8!important;
    margin-bottom: 5px;
    background-color: orange;
}

.conversions-list-container .conversion-list-domain-row {
    color: darkgoldenrod;
    padding-left: 4px;
}


.conversions-list-container .nav-link {
    color: black;
    font-weight: bold;
}

.conversion-list-button-row button {
    width: 99%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 4vw;
    font-weight: bold;    
    border-color: black;
}

.navbar {
    padding: .5rem 5px !important;
    background-color: darkgoldenrod;
}

.header-row h4 {
    font-size: 4vw !important;
    font-weight: bolder;
}

.header-row a {
    color: black;    
}

.header-row img {
    width: 5vw;
    margin-right: 10px;    
}